@use "../../abstracts" as abs;

.Availability_select {
    padding: 20px;

    .Availability_title {
      font-size: 16px;
      color: #263077;
      font-weight: 600;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      
      div {
        transition: all 0.3s ease-in-out;
        font-weight: 500;
        transform: rotate(180deg);

        span {
          cursor: pointer;
          padding: 10px;
        }
      }
      &.active{
        div{
          transform: rotate(0deg);
        }
      }
    }

    .Availability_box {
      display: flex;
      flex-wrap: wrap;
      transform: scaleY(1);
      transform-origin: top;
      max-height: 500px;
      transition: all 0.3s ease-in-out;
      margin-top: 10px;

      .Availability-option {
        padding: 6px 15px;
        margin: 5px;
        border-radius: 50px;
        user-select: none;
        cursor: pointer;
        background-color: #EEEEEE;
        color: #8F8F8F;

        label {
          cursor: pointer;
        }
      }

      &.active {
        max-height: 0px;
        transform: scaleY(0);
        transform-origin: top;
      }
    }
    

    .Availability-option.selected {
      background-color: abs.$primary-color;
      color: #fff;
    }
  }